/* placement of the login button within index page*/
#log_in_area{
    right: 10px;
    top: 10px;
    position: fixed;
}

/* centers the text within login button*/
#log_in_txt{
    text-align: center;
}
/************** end of button design******************/

#welcome_sec{
    margin-top: 10%;
    text-align: center;
}
