/********************* Login form *********************/

#log_in_form{
    border: black solid 4px;
    padding: 40px;
    margin: 20%;
    text-align: center;
}

#username_input{
    border: black solid 2px;
    height: 40px;
    width: 150px;
    border-radius: 25px;
}

#password_input{
    border: black solid 2px;
    height: 40px;
    width: 150px;
    border-radius: 25px;
}

#login_btn{
    width: 15%;
    margin: 10px auto;
}

#login_error{
    display: none;
}
