<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="../_css/log_in.css">
    <link rel="stylesheet" type="text/css" href="../_css/commonalities.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../../model/Dictionary.js"></script>
    <script type="text/javascript" src="../../model/DBLoaded.js"></script>
    <script type="text/javascript" src="../../model/Loader.js"></script>
    <script type="text/javascript" src="../../controller/log_in.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>

<!--- Shows a navigation bar at the top of the page linking to: Logo, Menu, Language switch, Login --->
<div class="topnav">
    <ul>
        <li><a href="index.html">The Flying Dutchman</a></li>
        <li><a href="index.html">Menu</a></li>
        <li style="float:right">
            <a class="btn" href="log_in.html" id="log_in_area">
            <div id="log_in_txt"></div>
        </a></li>
        <li style="float:right">
            <div class="btn" id="language_cha" onclick="change_lang()"> <!--- when clicking within this area function: change_lang starts---->
            <img id="lang_pic" src="">
            <div id="lang_txt"></div>
        </div>
        </li>
    </ul>
</div>
<!-- Welcome message area for the login-->
<div id="welcome_sec">
    <h1 id="welcome_txt"></h1>
    <p id="enter_credentials"></p>
</div>

<!-- Area for login-->
<div id="log_in_form">
    <div id="username_lbl"></div>
    <input type="text" id="username_input">

    <br><br>

    <div id="password_lbl"></div>
    <input type="password" id="password_input">

    <div class="btn" id="login_btn" onclick="user_login()"></div>
    <div id="login_error"></div>
</div>
</body>
</html>