<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../_css/manager.css">
    <link rel="stylesheet" type="text/css" href="../_css/commonalities.css">
    <script type="text/javascript" src="../../model/Dictionary.js"></script>
    <script type="text/javascript" src="../../model/DBLoaded.js"></script>
    <script type="text/javascript" src="../../model/Loader.js"></script>
    <script type="text/javascript" src="../../controller/manager.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta charset="UTF-8">
    <title>Manager homepage</title>
</head>
<body>

<div class="btn" id="language_cha" onclick="change_lang()"> <!--- when clicking within this area function: change_lang starts---->
    <img id="lang_pic" src="">
    <div id="lang_txt"></div>
</div>

<div id="welcome_login_section">
    <h1 id="welcome_title"> <h1 id="welcome_userName"></h1></h1>
</div>

<div id="remove_item_section">
    <h2 id="remove_item_title"></h2>

    <input type="text" id="art_id_remove">
    <label id="lbl_remove_item"></label>
    <div id="remove_item_btn" class="btn" onclick="removeTemporarilyItem()"></div>
</div>
</body>
</html>