<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../_css/VIP.css">
    <link rel="stylesheet" type="text/css" href="../_css/commonalities.css">
    <script type="text/javascript" src="../../model/Dictionary.js"></script>
    <script type="text/javascript" src="../../model/DBLoaded.js"></script>
    <script type="text/javascript" src="../../model/Loader.js"></script>
    <script type="text/javascript" src="../../model/Beverages.js"></script>
    <script type="text/javascript" src="../../controller/VIP.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>VIP homepage</title>
</head>
<body>


<div class="topnav">
    <ul>
        <li><a href="index.html">The Flying Dutchman</a></li>
        <li style="float:right">
            <a class="btn" href="index.html" id="log_in_area">
                <div id="log_out_txt"></div>
            </a></li>
        <li style="float:right">
            <div class="btn" id="language_cha" onclick="change_lang()"> <!--- when clicking within this area function: change_lang starts---->
                <img id="lang_pic" src="">
                <div id="lang_txt"></div>
            </div>
        </li>
    </ul>
</div>


<!--- this section displays the welcoming title, the name of the user and the VIP users salary---->
<div id="welcome_login_section">
<h1 id="welcome_title"> <h1 id="welcome_userName"></h1></h1>
    <div id="balance_txt">
    </div>
    <div id="balance_num"></div>
</div>

<!--- this section displays the order history of the VIP guest---->
<div id="order_history_sec">
    <h2 id="ord_his_tit"></h2>
    <table id="order_his_tab">

    </table>
</div>

<!--- this section lets the VIP guest to add money to their balance ---->
<div id="update_balance_area">
    <h2 id="update_balance_title"></h2>
    <div id="balance_input_area">
        <label id="lbl_balance_input"></label>
        <input id="balance_input" type="number">
        <div onclick="updateVipBalance()" id="btn_balance" class="btn"></div>
    </div>
</div>

</body>
</html>