<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../_css/VIP.css">
    <link rel="stylesheet" type="text/css" href="../_css/commonalities.css">
    <script type="text/javascript" src="../../model/Dictionary.js"></script>
    <script type="text/javascript" src="../../controller/XXXXXX.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>VIP homepage</title>
</head>
<body>

<div class="btn" id="language_cha" onclick="change_lang()"> <!--- when clicking within this area function: change_lang starts---->
    <img id="lang_pic" src="">
    <div id="lang_txt"></div>
</div>

<h1>VIP guest</h1>

</body>
</html>